@model DotNetCoreSqlDb.Models.Student

@{
    ViewData["Title"] = "Delete Student";
}

<h2>Delete Student</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>Parent/Employer</dt>
        <dd>@Html.DisplayFor(model => model.ParentOrEmployer)</dd>
        <dt>Created Date</dt>
        <dd>@Html.DisplayFor(model => model.CreatedDate)</dd>
    </dl>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="ID" value="@Model.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    }
    @Html.ActionLink("Cancel", "Index", "Students", null, new { @class = "btn btn-default" })
</div>
