@model IEnumerable<DotNetCoreSqlDb.Models.Student>

@{
    ViewData["Title"] = "Students List";
}

<h2>Students List</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New Student</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Parent/Employer</th>
            <th>Created Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ParentOrEmployer)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.ID })">Details</a> |
                    <a href="@Url.Action("Edit", new { id = item.ID })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = item.ID })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
